/*****************Login********************/
  .form-container {
    width: 80% !important;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    margin: 30px;

    justify-content: center !important;


 
  }


  
  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }

  
  .sign {
    margin-top: 20px;
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
  }

  

/************************Header*************************/

.header{
    width: 100% !important;
    padding: 1%;
    background-color: #1E171F;
    color: #f7e759;
}

.imagen{
    width: 30%;
    margin: 4%;
}

.titulo{
    padding-top: 2.5%;
}



/************************Navbar*************************/

.navbar{
    background-color: #4B476B;

}

.nav-link{
    color: white !important;
}

.logoutButton{
  position: absolute ;
  top: 10px ;
  right: 10px ;
  width: fit-content ;
  height: fit-content ;
  padding: 5px 10px ;
  border-radius: 5px ;
  cursor: pointer ;
  background-color: #4B476B;
}
.logout{
  color: #f7e759 !important;
  background-color: #4B476B !important;
}


/************************Body*************************/
.card{
    width: 80%;
    margin: 10px;
    padding: 10px;
}


.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

}


body{
    background-color: #a5a2a5 !important;

}

.botEj{
    background-color: #362938 !important;
    color: #f7e759 !important;
}




/************************Footer*************************/
.footer{
    background-color: #1E171F;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #f7e759;
    
}



/***********************NUM***************************/
.operador {
  width: 80px; /* Ajusta el ancho de los botones */
  height: 50px; /* Ajusta la altura de los botones */
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 50px; /* Centra el texto verticalmente */
  background-color: #4B476B;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  color: #f7e759;

  /* Efecto al pasar el ratón */
  &:hover {
    background-color: #1E171F;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
}




/****************Modificador de texto**************/
#texto{
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  padding: 10px;
}


/***************Media queries***************/
@media only screen and (min-width: 850px){
    .card{
        width: 40%;
    }

    .imagen{
        margin: 0%;
    }
    .form-container {
      width: 30% !important;
    }
}

